<!-- app/views/users/_form.html.erb -->
<%= form_with(model: user, data: {turbo: false}) do |form| %>
  <%= form.labeled :username do %> 
    <%= form.text_field :username, {required: true, autofocus: true, placeholder: " "} %>
  <% end %>
  <%= form.labeled :email do %>
    <%= form.text_field :email, {required: true, placeholder: " "} %>
  <% end %>
  <div class="flex items-center mt-6">
    <%= form.check_box :terms_of_service, {required: true}, "true", "false" %>
    <%= form.label :terms_of_service, "I agree with the <span>#{link_to 'Terms of Service', policies_path, class: "font-bold hover:underline", data: { turbo: "true", turbo_frame: "modal" }}</span>.".html_safe, class: "ms-2 text-sm cursor-pointer" %>
  </div>
  <div class="mt-6">
    <%= form.button "Create", {fullw: true} %> 
  </div>
<% end %>
