<!-- app/views/users/_form.html.erb -->
<%= form_with(model: user, data: {turbo: false}) do |form| %>
  <%= form.labeled :username do %> 
    <%= form.text_field :username, {required: true, autofocus: true, placeholder: " "} %>
  <% end %>

  <%= form.labeled :email do %>
    <%= form.text_field :email, {reuired: true, placeholder: " "} %>
  <% end %>
  <div class="mt-6">
    <%= form.button "Create", {fullw: true} %> 
  </div>
<% end %>
