<!-- app/views/static/index.html.erb-->
<%= render(Core::CardComponent.new()) do %>
  <h1 class="font-black text-3xl">Super Rails App</h1>
  <% if current_user.present? %>
  <p class="py-3">
    You are signed in as
    <span class="font-semibold text-sky-800"
      ><%= current_user.username %>(<%= current_user.email %>)</span
    >
  </p>
  <%= render(Core::LinkComponent.new(name: "Dashboard", url: dashboard_path, options: {custom_style: {style: :as_button, theme: :primary, size: :sm}})) %>
<% else %>
  <p class="text-lg text-gray-600">Sign up for members-only access</p>
  <div class="flex items-center space-x-3 justify-center">
    <%= render(Core::LinkComponent.new(name: "Sign In", url: users_sign_in_path, options: {custom_style: {style: :as_button, theme: :primary, size: :sm}})) %>
    <%= render(Core::LinkComponent.new(name: "Register", url: new_user_path, options: {custom_style: {style: :as_button, theme: :secondary, size: :sm}})) %>
  </div>
  <% end %>
<% end %>

