  <tr id="<%= dom_id ticket %>">
    <td class="px-4 py-2"><%= ticket.title %></td>
    <td class="px-4 py-2"><%= ticket.description %></td>
    <td class="px-4 py-2"><%= render(Core::BadgeComponent.new(ticket.status, options: {custom_style: {theme: ticket_status_theme(ticket.status)}})) %></td>
    <td class="px-4 py-2"><%= ticket.priority %></td>
    <td class="px-4 py-2"><%= ticket.created&.email %></td>
    <td class="px-4 py-2"><%= ticket.assigned&.username || "-"  %></td>
    <td class="px-4 py-2"><%= render(Core::LinkComponent.new(name: "Show", url: adminit_ticket_path(ticket), options: {custom_style: {style: :as_button, theme: :show, size: :xs}})) %>
  <%= render(Core::LinkComponent.new(name: "Edit", url: edit_adminit_ticket_path(ticket), options: {data: {turbo_frame: "modal"}, custom_style: {style: :as_button, theme: :edit, size: :xs}})) %></td>
  </tr>
