<div id="<%= dom_id ticket %>">

  <%= render(Core::CardComponent.new({padding: :sm})) do %>
  <dl class="flex flex-col text-gray-900 dark:text-white dark:divide-gray-700 text-left gap-4 divide-y divide-gray-200">
      <div>
          <dt class="text-gray-500 md:text-md dark:text-gray-400">Subject</dt>
          <dd class="text-md font-semibold"><%= ticket.title %></dd>
      </div>
      <div>
          <dt class="text-gray-500 md:text-md dark:text-gray-400">Priority</dt>
          <dd class="text-md font-semibold"><%= ticket.priority %></dd>
      </div>
      <div>
          <dt class="text-gray-500 md:text-md dark:text-gray-400">Status</dt>
          <dd class="text-md font-semibold"><%= render(Core::BadgeComponent.new(ticket.status, options: {custom_style: {theme: ticket_status_theme(ticket.status)}})) %></dd>
      </div>
      <div>
          <dt class="text-gray-500 md:text-md dark:text-gray-400">Created by</dt>
          <dd class="text-md font-semibold"><%= ticket.created.username %></dd>
      </div>

  </dl>
  <% end %>
  
  <%= render(Core::CardComponent.new({padding: :sm, class: "mt-4"})) do %>
    <h2 class="text-lg font-semibold dark:text-white">Body</h2>
    <p class="text-md dark:text-gray-400"><%= ticket.description %></p>
  <% end %>
</div>
