<aside
  data-closer-target="sidebar"
  class="fixed top-16 right-0 z-30 w-20 h-screen border-l border-gray-200 transition-transform -translate-x-full bg-white border-r border-gray-200 translate-x-0 dark:bg-gray-800 dark:border-gray-700 <%= open ? "" : " hidden"%> " 
  aria-label="Sidenav"
        data-transition-enter="transition ease-out duration-100"
        data-transition-enter-start="transform opacity-0 scale-95"
        data-transition-enter-end="transform opacity-100 scale-100"
        data-transition-leave="transition ease-in duration-75"
        data-transition-leave-start="transform opacity-100 scale-100"
        data-transition-leave-end="transform opacity-0 scale-95"
>
  <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800 gap-2">
    <ul class="flex flex-col mx-auto gap-2 mb-2">
      <li class="items-center justify-center">
        <%= render(Core::LinkComponent.new(url: dashboard_path, options: {class: "inline-flex p-3 hover:cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-800 rounded-lg w-full transition duration-200 group", custom_style: {style: :no_style}})) do %>
        <svg class="h-8 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-blue-500 transition duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        <span class="sr-only">Home</span>
        <% end %>
      </li>
      <li class="items-center justify-center">
      <%= render(Core::LinkComponent.new(url: dashboard_path, options: {class: "inline-flex p-3 hover:cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-800 rounded-lg w-full transition duration-200 group", custom_style: {style: :no_style}})) do %>
        <svg class="h-8 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-blue-500 transition duration-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"></path>
        </svg>
        <span class="sr-only">New Item</span>
      <%  end %>
      </li>
      <li class="items-center justify-center">
      <%= render(Core::LinkComponent.new(url: dashboard_path, options: {class: "inline-flex p-3 hover:cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-800 rounded-lg w-full transition duration-200 group", custom_style: {style: :no_style}})) do %>
          <svg class="h-8 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-blue-500 transition duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.75 4H19M7.75 4a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 4h2.25m13.5 6H19m-2.25 0a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 10h11.25m-4.5 6H19M7.75 16a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 16h2.25"/>
          </svg>
          <span class="sr-only">Settings</span>
      <% end %> 
      </li>
      <li class="items-center justify-center">
      <%= render(Core::LinkComponent.new(url: dashboard_path, options: {class: "inline-flex p-3 hover:cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-800 rounded-lg w-full transition duration-200 group", custom_style: {style: :no_style}})) do %>
          <svg class="h-8 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-blue-500 transition duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 19">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.509 5.75c0-1.493.394-2.96 1.144-4.25h-.081a8.5 8.5 0 1 0 7.356 12.746A8.5 8.5 0 0 1 8.509 5.75Z"/>
          </svg>
          <span class="sr-only">Theme</span>
      <% end %>
      </li>

      <li class="items-center justify-center">
      <%= render(Core::LinkComponent.new(url: users_sign_out_path, options: {class: "inline-flex p-3 hover:cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-800 rounded-lg w-full transition duration-200 group", custom_style: {style: :no_style}})) do %>
          <svg class="h-8 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-blue-500 transition duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h11m0 0-4-4m4 4-4 4m-5 3H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3"/>
          </svg>
          <span class="sr-only">Log out</span>
      <% end %>
      </li>
 
    </ul>
  </div>
</aside>
