<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="antialiased bg-gray-50 dark:bg-black" data-controller="closer">
    <%= render partial: "partials/navbar" %>
    <main class="pt-20 h-full mx-auto flex justify-center dark:text-gray-200">
      <%= turbo_frame_tag "modal" %>
      <%= yield %>
    </main>

    <% if current_user %>
      <%= render(Core::SidebarComponent.new(open: @sidebar_open)) %>
    <% end %>
    <% flash.each do |type, msg| %>
      <%= render(Core::AlertComponent.new(type: :type, title: "Error", message: msg)) %>
    <% end %>
  </body>
</html>
